* {
    /* height & width now includes border & padding */
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
  }

  body {

    height: 100vh;
    width: 100vw;
    margin: 0; 
  }

  header {
    display:flex;
    align-items: center;
    margin:0 1.5rem 1.5rem 1.5rem;
  }

  h1 {
    font-size: 30px;;
    color:#1b3241;
    border: solid #00a0a0;
    border-radius: 25px;
    padding:10px;
  }

main{
    display:grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    " . input submit"
    "image image image"
    "footer footer footer";
}  


  #image{
    grid-area: image;
    max-width: 100%;
    height: auto;
    padding: 5px;
  }

  input{
    grid-area: input;
    border-radius: 5px;
    place-self: center;
  }
  #submit{
    grid-area: submit;
    background-color: #1b3241;
    border-radius: 5px;
    justify-self: stretch;
    color: white;
  }

  ::placeholder{
    color: #1b3241;
  }

  footer{
    grid-area: footer;
    color: #00a0a0;

  }
